* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(to right, #ff00ff, #0000ff);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px 200px;
}


.navigation a {
    color: #a7fffe;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 700;
    padding-left: 30px;
    transition: 0.5s ease;
}

.navigation a:hover{
    color: #ff00ff;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(photos/banner2.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main .welcome{
    display: inline;
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    transition: 0.5s ease;
}



.main .welcome:hover{
    color: #4c4fff;
    text-shadow: -5px 5px 5px #ff00ff, 0px 0px 5px #1100ff;
}

.main .welcome span{
    display: inline;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: -0px 0px 5px #ff00ff, 0px 0px 5px #1100ff;
    font-size: 3em;
    font-weight: 600;
    transition: 0.5s ease;
}

.main .welcome span:hover{
    color: #1100ff;
    font-size: 3.2em;
    text-shadow: -5px 5px 5px #ff00ff, 0px 0px 5px #1100ff;
}

.iteatch{
    color: #ffc1f7;
    transition: 0.5s ease;
}

.iteatch:hover{
    text-shadow: 0px 0px 10px #ff00ff;
    letter-spacing: 2px;
}

.main-button{
    color: #ffffff;
    background-color: #6f00ff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 2px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
    transition: 0.5s ease;
}

.main-button:hover{
    font-size: 1.3em;
    background-color: #1100ff;
    text-shadow: 0px 0px 10px #ff00ff;
}

.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    padding-left: 10px;
    transition: 0.5s ease;
}

.social-icons a:hover{
    color: #0400ff;
    font-size: 2em;
}

.cards{
    background-color: #110714;
}

.cards .title1{
    display: flex;
    justify-content: center;
    color: #f100f2;
    text-shadow: 0px 0px 5px #ff00d4;
    font-size: 2.4em;
    font-weight: 600;
    transition: 0.5s ease;
    margin-bottom: 30px;
}

.cards .title1:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px #ff00d4;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color:#1f0825;
    width: 21.25em;
    box-shadow: -30px 30px 30px #000000;
    border-radius: 20px;
    padding: 25px;
    margin: 20px 20px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: #f100f2;
    text-shadow: 0px 0px 5px #ff00d4;
    font-size: 100px;
    transition: 0.5s ease;
}

.icon:hover{
    text-shadow: 0px 0px 10px #ff00d4;
}

.info{
    background-color: #83f9f9;
    padding: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 30px #2f00ff, 0px 0px 30px #2f00ff;
    text-align: center;
    transition: 0.5s ease;
}

.info:hover{
    box-shadow: inset 0px 0px 40px #2f00ff, 0px 0px 40px #2f00ff;
}

.info h3{
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #0400ff;
    text-shadow: 0px 0px 5px #0000ff;
    font-size: 1.5em;
}

.info p{
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 500;
}

.projects{
    background: url(photos/banner3.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.projects .title2{
    display: flex;
    justify-content: center;
    color: #0026ff;
    text-shadow: 0px 0px 10px #0400ff;
    font-size: 2.8em;
    font-weight: 800;
    transition: 0.5s ease;
    margin-bottom: 30px;
}

.projects .title2:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px #00ffff;

}

.projects .content{
    margin-top: 30px;
}

.projectscard{
    box-shadow: -10px 10px 10px #000;
    background-color: #fff;
    border: 2px solid #fff;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 30px;
    margin: 20px;
    transition: 0.5s ease;
}

.projectscard:hover{
    box-shadow: -10px 10px 100px #000, inset -10px 10px 50px #000;
    transform: scale(1.1);
}

.projectsimg img{
    width: 140%;
    transform: translateX(-60px);
}

.projectsinfo{
    margin-left: 10px;
}

.MoreDetails{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    font-weight: 1000;
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    padding: 2px;
    margin-left: 80px;
    box-shadow: 0px 0px 10px #0000ff, inset 0px 0px 10px #0000ff;
}

































































































































































































































































































































































































































































































































